<h1>New Card</h1>

<div class="board-card">
  <%= form_with(model: [@board, @task], local: true) do |f| %>
      <%= f.label :title, "Name" %>
      <%= f.text_field :title, class: "form-control", required: true %>

      <%= f.label :description, "Description" %>
      <%= f.text_area :description, class: "form-control", rows: 5, required: true %>

      <%= f.label :eyecatch, "アイキャッチ画像"%>
      <%= f.file_field :eyecatch %>

    <div class="form-group">
      <%= f.label :due_date, "期限" %><br>
      <%= f.datetime_select :due_date, class: "form-control", required: true %>
    </div>

    <div class="form-actions">
      <%= f.submit "Submit", class: "btn-submit" %>
    </div>
</div>
  <% end %>

