<div class="task-header">
<h1><%= @task.title %></h1>
    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag 'Combined Shape.png', class: "dropbtn" %>
    </button>
        <ul class="dropdown-menu">
            <li><%= link_to "編集する", edit_board_task_path(@board, @task), class: "dropdown-item" %></li>
            <li><%= link_to "削除する", board_task_path(@board, @task) , method: :delete, data: { turbo_method: :delete, confirm: "本当に削除しますか？" }, class: "dropdown-item" %></li>
        </ul>
</div>


<% if @task.eyecatch.attached? %>
    <div class="task-eyecatch">
        <%= image_tag @task.eyecatch %>
    </div>
<% end %>
<div class="board-card mt-3">
    <p><%= @task.description %></p>
    <small>期限: <%= @task.due_date.strftime("%Y-%m-%d") %></small>
</div>

<!-- コメント一覧 -->
<%# タスクに対するコメントがすべて表示される %>
<div class="comment-header">
    <h2>Comment</h2>
</div>

<div class="comment-list">
  <% @comments.each do |comment|  %>
    <div class="comment">
      <div class="comment-header">
        <%# ユーザーのアバターを表示し、なければデフォルトの user.png を表示 %>
        <% if comment.user.respond_to?(:avatar) && comment.user.avatar.attached? %>
          <%= image_tag comment.user.avatar, class: "comment-icon" %>
        <% else %>
          <%= image_tag "user.png", class: "comment-icon" %>
          <p><%= comment.content %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "+ Add new comment", new_board_task_comment_path(@board, @task), class: "add-board mt-3"  %>