<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
      <div class="header-container">
        <h1 class="boards-title">Boards</h1>
          <%# ユーザーがサインインしている場合のみを表示 %>
          <% if user_signed_in? %>
            <%= image_tag "cb658a3a6926eff2c8b7191774ba4438 (1).png", alt: "User Icon", class: "profile-icon" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        <%= yield %>
  </body>
</html>


<%# ログアウトは後から修正 %>